{% for plugin in antigen_zsh_plugins %}
{% if plugin.user == item[1] %}
antigen bundle {{ plugin.name }}
{% endif %}
{% endfor %}

{% for theme in antigen_zsh_themes %}
{% if theme.user == item[1] %}
antigen theme {{ theme.name }}
{% endif %}
{% endfor %}

{% for alias in antigen_zsh_aliases %}
{% if alias.user == item[1] %}
alias {{ alias.name }}="{{ alias.value }}"
{% endif %}
{% endfor %}